<div id="sidebar-wrapper" class="bg-dark border-right">
    <ul class="sidebar-nav">
        <li><a href="">Personnel</a></li>
        <ul>
            <li class="sidebar-brand"><a href="#">Create New Personnel</a></li>
            <li class="sidebar-brand"><a href="#">List All Personnel</a></li>
        </ul>
        <li><a href="#">Department</a></li>
        <ul>
            <li class="sidebar-brand"><a href="#">Create New Department</a></li>
            <li class="sidebar-brand"><a href="#">List All Departments</a></li>
        </ul>
        <li><a href="#">Department Role</a></li>
        <ul>
            <li class="sidebar-brand"><a href="#">Create New Role</a></li>
            <li class="sidebar-brand"><a href="#">List All Roles</a></li>
        </ul>
        <li><a href="#">Admin</a></li>
        <ul>
            <li class="sidebar-brand"><a href="#">Create New Admin</a></li>
            <li class="sidebar-brand"><a href="#">List All Admins</a></li>
        </ul>


    </ul>
</div> <!-- /#sidebar-wrapper -->
