@{
    ViewBag.HeadTitle = "Personnel Phone Book";
}

<div class="container border border-dark rounded p-3 bg-light mx-auto">
    <h2 class="text-center">@ViewBag.HeadTitle</h2>
    <div class="row my-1">
        <div class="col"><input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search Person, Department or Phone Number"></div>
    </div>
    <table class="table table-hover table-borderless table-striped" id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Department</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Umut</td>
                <td>Dere</td>
                <td>Software Developer</td>
                <td>IT</td>
                <td>+90 535 081 1936</td>
            </tr>
            <tr>
                <td>Tolga Can</td>
                <td>Ceylan</td>
                <td>Software Developer</td>
                <td>IT</td>
                <td>+90 123 123 1234</td>
            </tr>
            <tr>
                <td>Cemal</td>
                <td>Aydın</td>
                <td>Moneyman</td>
                <td>Finance</td>
                <td>+90 123 123 1234</td>
            </tr>
        </tbody>
    </table>
</div>
